name: Terraform Destroy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to destroy (env1 or env2)"
        required: true
        type: choice
        options:
          - env1
          - env2

permissions:
  id-token: write
  contents: read

concurrency:
  group: terraform-destroy-${{ github.event.inputs.environment }}
  cancel-in-progress: false

jobs:
  destroy:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: us-east-1
      ENVIRONMENT: ${{ github.event.inputs.environment }}

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Terraform Init (Environment Specific State)
        run: |
          terraform init -reconfigure \
            -backend-config="key=lambda/${{ env.ENVIRONMENT }}/terraform.tfstate"
        working-directory: terraform

      - name: Terraform Destroy
        run: terraform destroy -auto-approve -var="environment=${{ env.ENVIRONMENT }}"
        working-directory: terraform
